{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style/dashboard.css' %}">

<ul id="navbar">
  <li>
    <a href="{% url 'scheduler:new' %}">New</a>
  </li>
  <li>|</li>
  <li>
    <a href="{% url 'scheduler:logout' %}">Logout</a>
  </li>
</ul>


<h1>Hello, {{request.user.username | title}}</h1>

{% if todayappointments %}
<div class="apptables">
<h2>View Today's Appointments</h2>
<table >
  <tr>
    <th>Description:</th>
    <th>Date and Time:</th>
    <th>Status:</th>
    <th>Options:</th>
  </tr>
{% for appointment in todayappointments %}
  <tr>
    <td><a href="{% url 'scheduler:detail' appointment.pk %}">{{appointment.appointment_text}}</a></td>
    <td>{{appointment.time}}</td>
    <td>{{appointment.status}}</td>
    <td> <button type="button" name="button"><a href="{% url 'scheduler:delete' appointment.pk %}">Delete</a></td></button>
  </tr>
{% endfor %}
</table>
</div>
{% else %}
<h2>Your Schedule is clear for today!</h2>
{% endif%}

{% if futureappointments %}
<div class="apptables">
<h2>View Coming Appointments</h2>
<table>
  <tr>
    <th>Description:</th>
    <th>Date and Time:</th>
    <th>Status:</th>
    <th>Options:</th>
  </tr>
{% for appointment in futureappointments %}
  <tr>
    <td><a href="{% url 'scheduler:detail' appointment.pk %}">{{appointment.appointment_text}}</a></td>
    <td>{{appointment.time}}</td>
    <td>{{appointment.status}}</td>
    <td> <button type="button" name="button"><a href="{% url 'scheduler:delete' appointment.pk %}">Delete</a></td></button>
  </tr>
{% endfor %}
</table>
</div>
{% endif%}

{% if pastappointments %}
<div class="apptables">
<h2>View Old Appointments</h2>
<table>
  <tr>
    <th>Description:</th>
    <th>Date and Time:</th>
    <th>Status:</th>
    <th>Options:</th>
  </tr>
{% for appointment in pastappointments %}
  <tr>
    <td><a href="{% url 'scheduler:detail' appointment.pk %}">{{appointment.appointment_text}}</a></td>
    <td>{{appointment.time}}</td>
    <td>{{appointment.status}}</td>
    <td> <button type="button" name="button"><a href="{% url 'scheduler:delete' appointment.pk %}">Delete</a></td></button>
  </tr>
{% endfor %}
</table>
</div>
{% endif%}
