{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style/dashboard.css' %}">

<ul id="navbar">
  <li>
    <a href="{% url 'scheduler:new' %}">New</a>
  </li>
  <li>|</li>
  <li>
    <a href="{% url 'scheduler:logout' %}">Logout</a>
  </li>
</ul>


<h1>Hello, {{request.user.username | title}}</h1>


{% if appointments %}
<h2>View Your Appointments</h2>

<table>
  <tr>
    <th>Description:</th>
    <th>Date and Time:</th>
    <th>Status:</th>
    <th>Options:</th>
  </tr>
{% for appointment in appointments %}
  <tr>
    <td><a href="{% url 'scheduler:detail' appointment.pk %}">{{appointment.appointment_text}}</a></td>
    <td>{{appointment.time}}</td>
    <td>{{appointment.status}}</td>
    <td> <button type="button" name="button"><a href="{% url 'scheduler:delete' appointment.pk %}">Delete</a></td></button>
  </tr>
{% endfor %}
</table>
{% else %}
<h2>Your Schedule is clear!</h2>
{% endif%}
