{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style/login.css' %}">

{% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags%} {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{% url 'scheduler:login' %}" method="post">
  {% csrf_token %}
<fieldset>
  <legend>Register</legend>
  {{form}}
  <input type="hidden" name="extra" value="0">
  <input type="submit" value="Submit">
</fieldset>
</form>

<form action="{% url 'scheduler:login' %}" method="post">
  {% csrf_token %}
<fieldset>
  <legend>Login</legend>
  {{form}}
  <input type="hidden" name="extra" value="1">
  <input type="submit" value="Submit">
</fieldset>
</form>
