{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler/style/detail.css' %}">


<ul>
  <li id="navbar"><a href="{% url 'scheduler:dashboard' %}">Home</a></li>
</ul>

<form action="{% url 'scheduler:new' %}" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>Create an Appointment</legend>
    <label for="description">Description: </label>
    <input type="text" name="appointment_text" max_length="200" required>
    <label for="time">Date and Time: </label>
    <input type="datetime-local" name="appointment_time" required>
    <input type="submit" value="Submit">
  </fieldset>
</form>

<ul>
    {% for message in messages %}
    <li{% if message.tags%} {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
