.apptables {
  display: inline-block;
  width: 400px;
}

.navitem {
  display: inline-block;
}

#navbar {
  position: absolute;
  top: 0px;
  right: 20px;
}

a{
  text-decoration: none;
}

table {
  border: 1px 1px 1px 1px;
  border-style: solid;
}
