form {
  /*display: inline-block;*/
  width: 245px;
}
input {
  display: block;
}

.navitem {
  display: inline-block;
}

#navbar {
  position: absolute;
  top: 0px;
  right: 20px;
}

a{
  text-decoration: none;
}
